<section class="footer">
  <div class="container mb-3">
    <div class="d-flex align-items-center  justify-content-between flex-wrap">
      <div class=" mt-4">
        <div class="footer_logo">
          <img src="assets/img/logo_banner.svg" alt="">
</div>
      </div>
      <div class="mt-4">
        <div class="footer_copy text-center">
          <p>2024 xcare .all rights reserved</p>
</div>
      </div>
      <div class=" mt-4">
        <div class="footer_menu text-end">
          <ul>
            <li>
              <img src="../../../assets/img/footer_1.svg" alt="">
            </li>
            <li>
              <img src="../../../assets/img/footer2.svg" alt="">
            </li>
            <li>
              <img src="../../../assets/img/footer3.svg" alt="">
            </li>
            <li>
              <img src="../../../assets/img/footer4.svg" alt="">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
