<section class="Xcare_home">
<!-- banner -->

    <div class="Xcare_home_banner">
      <div class="container-fluid p-0">

      <!-- <owl-carousel-o [options]="customOptions">

        <ng-template carouselSlide > -->
            <div class="row">
              <div class="col-md-5 ">
                <div class="Xcare_home_banner_sideLeft" data-aos="fade-up" data-aos-duration="3000">
                  <img src="assets/img/logo_banner.svg" alt="" style="width: 70%;">

                  <div class="Xcare_home_banner_text">

                    <p>The Future of Modern Medical Care: Advancements, Challenges, and Transformative Technologies.</p>
                  </div>
                </div>

                </div>

              <div class="col-md-6 offset-md-1 text-end">
                <img style="width: 80%;" src="assets/img/banner_side_img.svg" alt="" data-aos="fade-down" data-aos-duration="3000">
              </div>
            </div>


          <!-- </ng-template>


      </owl-carousel-o> -->

    </div>
  </div>
  <!-- about -->
  <div class="Xcare_home_about">
    <div class="container">


          <div class="row">
            <div class="col-md-6 ">
              <div class="Xcare_home_about_sideLeft"  data-aos="zoom-in" data-aos-duration="3000">
                <img src="assets/img/home_about.svg" alt="">
              </div>
              </div>

            <div class="col-md-5 offset-md-1"  data-aos="zoom-in-up" data-aos-duration="3000">
              <div class="Xcare_home_about_sideRight" >
               <h1>how to use x-care</h1>
               <ul>
                 <li>
                     <img src="assets/img/about_1.svg" alt="">
                     <span>

                      Go register and enter.

                     </span>
                 </li>
                 <li>
                  <img src="assets/img/about_2.svg" alt="">
                  <span>

                    u can book as soon as possible.

                  </span>
              </li>
              <li>
                <img src="assets/img/about_3.svg" alt="">
                <span>

                  U can Read the doctors post
and comment it .

                </span>
            </li>
            <li>
              <img src="assets/img/about_4.svg" alt="">
              <span>

                U can any drug or medical equipment U want.

              </span>
          </li>
               </ul>
              </div>
            </div>
          </div>




  </div>
</div>
<!-- Al X-care -->
<div class="Xcare_home_X-care">
  <div class="container">


        <div class="row">


          <div class="col-md-5 ">
            <div class="Xcare_home_X-care_sideRight" data-aos="zoom-in"
            data-aos-duration="3000">
<h1>AI  x-care</h1>
<p>
  Image Insights, Not Answers: Have a skin concern or question? Upload an image for preliminary analysis, but remember, diagnosis still requires a doctor's expertise. We wouldn't want you to miss anything important!
</p>
            </div>
          </div>
          <div class="col-md-7 ">
            <div class="Xcare_home_X-care_sideLeft">
  <owl-carousel-o [options]="customOptionslarge" class="large">
        <ng-template carouselSlide >
          <img src="assets/img/x-care_carsoul1.svg" alt="">
        </ng-template>
        <ng-template carouselSlide >
          <img src="assets/img/x-care_carsoul2.svg" alt="">
        </ng-template>
        <ng-template carouselSlide >
          <img src="assets/img/x-care_carsoul3.svg" alt="">
        </ng-template>
        </owl-carousel-o>
        <owl-carousel-o [options]="customOptionssmall" class="small">
          <ng-template carouselSlide >
            <img src="assets/img/x-care_carsoul1.svg" alt="">
          </ng-template>
          <ng-template carouselSlide >
            <img src="assets/img/x-care_carsoul2.svg" alt="">
          </ng-template>
          <ng-template carouselSlide >
            <img src="assets/img/x-care_carsoul3.svg" alt="">
          </ng-template>
          </owl-carousel-o>
            </div>
            </div>
        </div>




</div>
</div>
<!-- contact us -->
<div class="Xcare_home_contact">
  <div class="container">

    <h1 class="text-center" data-aos="zoom-in"
    data-aos-duration="3000">Contact Us</h1>
        <div class="row">


          <div class="col-md-5 mb-3">
            <div class="Xcare_home_contact_sideRight"  data-aos="fade-up"
            data-aos-duration="3000">
              <img src="assets/img/contact_img.svg" alt="">

            </div>
          </div>
          <div class="col-md-6 offset-md-1">
            <div class="Xcare_home_contact_sideLeft"  data-aos="fade-down"
            data-aos-duration="3000">

<div class="form_container">
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email </label>
      <input placeholder="hussin.com" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">object</label>
      <input placeholder="front end" type="text" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword2" class="form-label">message</label>
      <input placeholder="Lorem ipsum dolor" type="text" class="form-control" id="exampleInputPassword2">
    </div>
    <button  class="btn">send</button>
  </form>
</div>

</div>
            </div>
        </div>




</div>
</div>
</section>
